In [13]:
message = "Hello world!"
print(message)

Hello world!

In [14]:
message[0:5]
message[2:10]
message[6:12]

'world!'

#striding in string

In [17]:
message[::2]
message[0:6:2]

'Hlo'

#String operations:

In [35]:
message = 'hello python!'
print('Before uppercase: ' ,message )
# convert uppercase the elements in a string
message_upper = message.upper()
print('After uppercase: ', message_upper)
# convert lowercase the elements in a string
message_lower = message.lower()
print('Again lowercase: ', message_lower)
# convert first letter of string to uppercase
message_title = message.title()
print('The first element of the string is uppercase: ', message_title)

message.replace("hello","raniya")

message.lower()

Before uppercase:  hello python!
After uppercase:  HELLO PYTHON!
Again lowercase:  hello python!
The first element of the string is uppercase:  Hello Python!

'hello python!'

In [31]:
message.find("hello")

0


Certainly! Here are some assignment questions related to using the .format() method in Python, along with example code solutions:

Question 1: Basic String Formatting
Write a Python program that takes a user's name and age as input and prints a formatted message like "Hello, [name]! You are [age] years old."

In [39]:
name=input("Enter a users name")
age=input("Enter a user age")
formatted_string=" Hello,{}! you are {} years old " .format(name,age)
print(formatted_string)

 Hello,raniya dareer! you are 23 years old

Question 2: Temperature Conversion
Write a Python program that converts a temperature in Celsius to Fahrenheit and prints a formatted output like "X degrees Celsius is equivalent to Y degrees Fahrenheit."

In [47]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
formatted_output = "{} degrees Celsius is equivalent to {} degrees Fahrenheit.".format(celsius, fahrenheit)
print(formatted_output)

23.6 degrees Celsius is equivalent to 74.48 degrees Fahrenheit.

Question 3: Currency Conversion
Write a Python program that takes an amount in one currency and its conversion rate to another currency. Format and display the conversion result in a user-friendly message.

In [52]:
amount=float(input("Enter an amount in currency"))
conversion_rate =float(input("Enter a conversion rate"))
conversion_amount= amount * conversion_rate
formatted_string= "{:.2f}in your currency is equivalent to {:.2f} in the target currency".format(amount,converted_amount)
print(formatted_string)

NameError: name 'converted_amount' is not defined

In [53]:
amount = float(input("Enter the amount in your currency: "))
conversion_rate = float(input("Enter the conversion rate: "))
converted_amount = amount * conversion_rate
formatted_result = "{:.2f} in your currency is equivalent to {:.2f} in the target currency.".format(amount, converted_amount)
print(formatted_result)

5000.00 in your currency is equivalent to 117000.00 in the target currency.

In [6]:
# Generate a multiplication table for 7
print("Multiplication Table of 7:")
for i in range(1,11):
     product = 7* i
     print(f"7 x {i} = {product}")

Multiplication Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [12]:
#Generate A-z letters
print("Generate A-z letters")
for i in range(65,91):
    letters= chr(i)
    print(letters, end=' ')

Generate A-z letters
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [19]:
# generate Table of 9
print("generte table of 9:")
for i in range(0,11):
    product= (9 * i)
    print(f"9 x {i} = {product} ")

generte table of 9:
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [3]:
# Generate a multiplication table for 7
print("Multiplication Table for 7:")
for i in range(1, 11):
    product = 7 * i
    print(f"7 x {i} = {product}")

# Generate a multiplication table for 9
# print("\nMultiplication Table for 9:")
# for i in range(1, 11):
    # product = 9 * i
    # print(f"9 x {i} = {product}")

Multiplication Table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90