In [8]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

fruits.append("pear")
print(fruits)

fruits.insert(1,"mango")
print(fruits)

fruits.remove("orange")
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']
['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']
['apple', 'mango', 'banana', 'orange', 'grape', 'kiwi', 'pear']
['apple', 'mango', 'banana', 'grape', 'kiwi', 'pear']

Question 2: Slicing and Indexing

a) Create a list named `numbers` containing the integers from 0 to 9.

b) Print the element at index 3.

c) Print a sublist containing the elements from index 2 to 6 (inclusive).

d) Print the last three elements using negative indexing.

In [22]:
numbers = list(range(0,10))
print(numbers)

print(numbers[3])
print(numbers[2:7])
print(numbers[-3:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
3
[2, 3, 4, 5, 6]
[7, 8, 9]

a) Create a list named `squares` using a list comprehension that contains the squares of numbers from 1 to 10.

b) Create a new list named `even_squares` using a list comprehension that contains the squares of even numbers from the `squares` list.

In [32]:
c= []
for i in range(1,51):
  if i % 2 == 0:
     c.append(i)  
print(c)

even_cubes=[i for i in cubes if i % 3 ==0]
print(even_cubes)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[27, 216, 729]

In [29]:
squares= [i**2 for i in range(1,11)]
print(squares)

even_numbers=[i for i in range(1,55) if i % 2 != 0]
print(even_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]

In [1]:
x= list(range(1,11))
print(x)

.pop()
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "i" in x:
    newlist.append(x)

print(newlist)

['kiwi']

In [4]:
a= 33
b= 200
if b > a:
 print("b is greater than a")

b is greater than a

In [6]:
a = 33
b = 22
if b < a:
  print("b is less than a")

b is less than a

In [8]:
a = 33
b = 200
if b > a:
 print("b is greater than a") #you will get an error

SyntaxError: incomplete input (1203595000.py, line 4)

In [13]:
a=33
b=33
if b > a:
    print("a is greater than b")
elif a==b:
    print("a and b are equal")

a and b are equal

In [16]:
a=200
b=30
if a < b:
    print("a is less than b")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [17]:
a=200
b=30
if a < b:
    print("a is less than b ")
else:
    print("a is greater than b")

a is greater than b

In [18]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [22]:
if b > a: print("b is greater than a") # one line if statement

In [24]:
if a > b: print("a is greater than b")

a is greater than b

In [26]:
a = 22
b = 33
print("a") if a < b else print("b") # one line if else statement

a

In [27]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [32]:
a = 22
b = 330
print("a") if a > b else print(" > ") if a < b else print("b") #one line statement with 3 conditions

 >

In [30]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [33]:
a = 200
b = 33
c = 500
if a > b and c > a:    # we use and operator
  print("Both conditions are True")

Both conditions are True

In [34]:
a = 200
b = 33
c = 500
if a > b or a > c: # we use or operator
  print("At least one of the conditions is True")

At least one of the conditions is True

In [36]:
a = 33
b = 200
if not a > b:  # we use not operator it reverse the condition
  print("a is NOT greater than b")

a is NOT greater than b

In [39]:
x = 30

if x > 10:
    print("x is less than 10")
if x < 20:
    print("x is less than 20")
else:
    print("x is equal to 30")

x is less than 10
x is equal to 30

In [42]:
x = 41

if x > 10:
  print("Above ten,")  #if statements inside if statements, this is called nested if statements.
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

EXAMPLE:
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [43]:
a = 2
b = 4
if a > b:
    print("a","b")

In [44]:
a = 33
b = 200

if b > a:
  pass

LIST DATA TYPE:

In [49]:
names = ["raniya","dareer", "ali" ]
print(names)

['raniya', 'dareer', 'ali']

In [50]:
s1_name = "raniya"
s2_name = "dareer"
s3_name = "ali"
s4_name = "rohail"
print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

raniya
dareer

In [56]:
  #------>   0       1          2        3
names = ["raniya","dareer", "ali"  "rohail"]
 # <-------   -4      -3       -2      -1

print(names[1])
print(names[-1])

dareer
alirohail

In [57]:
range(1,11)

<class 'range'>

In [67]:
a = list(range(1,11))
print(a)





# print(a[3::])
# print(a[2:6:1])
# print(a[3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]