# functions
* pre defined fun
    *provided by community
*user defined
    * custome func created by you(programmer)
*common properties 
   *return
   *non-return
   *required parameters
   *optional parameters
   *default functions(nin required)
   *positional argument
   *key value functions
   *pass ulimited optional argument
   *pass ulimited key=value argument
Note:
1. function deceleration/signature = def abc(param1,param2...)
2. function body
3. func call

'''
def custom_name(parm1,parm2,...):
     statement1
     statement2
     statement3
'''

Reserved keywords

In [5]:
import pandas as pd
df = pd.read_html("https://www.w3schools.com/python/python_ref_keywords.asp")
df[0]

     Keyword                                        Description
0        and                                 A logical operator
1         as                                 To create an alias
2     assert                                      For debugging
3      break                             To break out of a loop
4      class                                  To define a class
5   continue        To continue to the next iteration of a loop
6        def                               To define a function
7        del                                To delete an object
8       elif    Used in conditional statements, same as else if
9       else                     Used in conditional statements
10    except  Used with exceptions, what to do when an excep...
11     False     Boolean value, result of comparison operations
12   finally  Used with exceptions, a block of code that wil...
13       for                               To create a for loop
14      from               To import specific parts of a module
15    global                       To declare a global variable
16        if                    To make a conditional statement
17    import                                 To import a module
18        in  To check if a value is present in a list, tupl...
19        is                 To test if two variables are equal
20    lambda                    To create an anonymous function
21      None                            Represents a null value
22  nonlocal                    To declare a non-local variable
23       not                                 A logical operator
24        or                                 A logical operator
25      pass  A null statement, a statement that will do not...
26     raise                              To raise an exception
27    return              To exit a function and return a value
28      True     Boolean value, result of comparison operations
29       try                   To make a try...except statement
30     while                             To create a while loop
31      with                Used to simplify exception handling
32     yield             To end a function, returns a generator

# Non return Function

In [10]:
def introduction(): #signature/function decleration
    print("Ned University") #body start
    print("PGD Data science - Generative AI program")
    print("batch5")
    print("saturday and sunday") # body end

In [11]:
introduction() #function calling

Ned University
PGD Data science - Generative AI program
batch5
saturday and sunday

Return function

In [17]:
print(abc)

Pakistan Zindabad

In [16]:
def introduction(): #signature/function decleration
    print("Ned University") #body start
    print("PGD Data science - Generative AI program")
    print("batch5")
    print("saturday and sunday") # body end

    return  "Pakistan Zindabad"
abc = introduction()

Ned University
PGD Data science - Generative AI program
batch5
saturday and sunday

In [19]:
def new ():
    return "Pakistan Zindabad"
abc = new()

In [20]:
print(abc)

Pakistan Zindabad

#Required parameter

In [22]:
def add_two_numbers(num1,num2) :
    return number1: {num1 }+ num2 and number2: {num2}')
print(add_two_numbers(7,8))
print(add_two_numbers(20,7))

15
27

In [42]:
add_two_numbers(7)

TypeError: add_two_numbers() missing 1 required positional argument: 'y'

In [43]:
add_two_numbers(7,8,9)

TypeError: add_two_numbers() takes 2 positional arguments but 3 were given

In [44]:
def add_two_numbers(num1,num2):#function signature
    print(f'numbe1: {num1} and number2: {num2}')
    return num1 + num2

print(add_two_numbers(7,8))
print(add_two_numbers(20,7))

numbe1: 7 and number2: 8
15
numbe1: 20 and number2: 7
27

#keyword arguments

In [3]:
def abc(x,y,z=0):
    return x+y+z
print(abc(1,2))
print(abc(1,2,4))

7

In [52]:
l = ['a','b','c']
print(l[0],l[1],l[2])
print(*l)

a b c
a b c

In [51]:
def abc(x,y=0,z=0):
    return x+y+z
print(abc(1,2))
print(abc(1,2,3)) # postional
print(abc(z=2,x=2,y=3)) # key word agrs
print(abc(1))
print(abc(2))

3
6
7
1
2

In [57]:
l = ('a',"b",'c')
print(l[0], l[1], l[2])
print(*l)

a b c
a b c

In [58]:
l = ["a",'b','c']
x = l[0]
y = l[1]
z = l[2]

print(x,y,x)

a b a

In [59]:
l = ["a",'b','c']
x, y, z = l[0], l[1] ,l[2]

print(x,y,x)

a b a

In [60]:
l = ["a",'b','c']
x, y, z = l[0], l[1] ,l[2]

print(x,y,x)

a b a

In [61]:
print(sum([1,7,9,9,1]))

27

In [13]:
def abc(x,y=0,z=0):
    return x+y+z
d = {"x":7,
     "y":20,
     "z":30}
print(d['x'],d['y'],d['z'])
print(abc(d['x'],d['y'],d['z']))

print(abc(**d))

7 20 30
57
57

#unlimited argument function

In [15]:
def my_sum(*nums):
    total = 0
    for n in nums:
        total += n
    return total

print(my_sum(1,2,3,4,5,6))

21

In [20]:
def abc(**data):
    
    return list(data.items())


abc(x=20, y=30, z=22)

[('x', 20), ('y', 30), ('z', 22)]

# Advance
*require
*positional unlimite args
*key=word

In [27]:
def advance(x, y, *nums, **data):
    print(x,y)
    print(*nums)
    print(data)
    
advance(2,7,'a',2,6,7,30,'b',e=20)

2 7
a 2 6 7 30 b
{'e': 20}

#Lamda Function
*one line fun
*without name
*it did not use before or it will not be use in future

syntax:
'''
def add_two_numbers(x,y):
    return x + y
'''

lamda
'''
lamda x,y : x + y
'''

In [29]:
def add_two_numbers(x,y):
    return x + y
add_two_numbers(1,2)

3

In [34]:
aaa = lambda x,y : x + y
print(aaa(2,7))

9

In [38]:
data = [[1, 'z',"e"],
       [3,"y",4],
       [2, "z", "G"]]

print(sorted(data, key=lambda x:x[1]))

[[3, 'y', 4], [1, 'z', 'e'], [2, 'z', 'G']]

#Generator function

In [41]:
def my_range(start,end,step=1):
    for i in range(start,end+1, step):
        yield i
a = my_range(1,11)
print(next(a))
print(next(a))
print(next(a))

1
2
3

In [62]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120