Symbolic AI
what you can think and write in computer programming language is call Symbolic
Boolean = 0=False, 1=True
and, or, not
reserve key words
if
else
elif
if LOGIC:
    TRUE_body
else:
    FALSE_Body
Note: LOGIC = TRUE | False

In [1]:
import pandas as pd

df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

display(df[2])

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [2]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [3]:
print("Pakistan")
print("India")

Pakistan
India

In [5]:
if True:
    print("Pakistan")
else:
    print("India")

Pakistan

In [6]:
if False:
    print("Pakistan")
else:
    print("India")

India

create odd and even number program using if else

In [7]:
ui = int(input("Enter any number"))

print(ui,type(ui))

55 <class 'int'>

In [9]:
ui = int(input("Enter any number"))
logic = ui%2
logic

1

In [10]:
ui = int(input("Enter any number"))
logic = ui%2 
logic

0

In [11]:
ui = int(input("Enter any number"))
logic = ui%2 == 0
logic

False

In [12]:
ui = int(input("Enter any number"))
logic = ui%2 == 0
logic

True

In [16]:
ui = int(input("Enter any number"))
logic = ui%2 == 0

NOW WRITE COMPLETE PROGRAM

In [17]:
ui = int(input("Enter any number"))

if ui % 2 == 0:
    print(f"{ui} This is Even")
else:
    print(f"{ui} this number is Odd!")

22 This is Even

In [18]:
ui = int(input("Enter any number"))

if ui % 2 == 0:
    print(f"{ui} This is Even")
    print("aaa")
    print("aaa")
else:
    print(f"{ui} this number is Odd!")

print("i'm not part of above block")

75 this number is Odd!
i'm not part of above block

Grading System
*per >= 80 "A+"
*per >= 70 "A"
*per >= 60 "B"
*per >=50 "C"
*per >=40 "D"
*per >=33 "E"
*per <33 "Fail"
if logic1:
    statment1
elif logic2:
    statment2
elif logic3:
    statment3
else:
    last_statment

In [19]:
per = 32

if per>=80:
    print("A+")
elif per >= 70:
    print("A")
elif per>= 60:
    print("B")
elif per>=50:
    print("C")
elif per>40:
    print("D")
elif per>=33:
    print("E")
else:
    print("Fail")

Fail

In [20]:
per = 99

if per>=0: #step1
    print("Fail")
elif per >= 33: #step2
    print("E")
elif per>= 40:#step3
    print("D")
elif per>=50:#step4
    print("C")
elif per>60:
    print("B")
elif per>=70:
    print("A")
else:
    print("A+")

Fail

In [21]:
per = 99

if per>=0 and per<33: #step1
    print("Fail")
elif per >= 33 and per<40: #step2
    print("E")
elif per>= 40 and per <50:#step3
    print("D")
elif per>=50 and per<60:#step4
    print("C")
elif per>60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
else:
    print("A+")

A+

In [22]:
print(True and True and True and True) # all should be True
print(True and True and True and False)
print(True and True and False and False)
print(True and False and False and False)

True
False
False
False

In [23]:
print(True or True or True or True) # all should be True
print(True or True or True or False)
print(True or True or False or False)
print(True or False or False or False)
print(False or False or False or False)

True
True
True
True
False

Comprehensive Style
if Logic:
    true_block
else:
    false_block
now convert into comprehensive style
true_block if Logic else false_block

In [24]:
"Pakistan" if True else "India"

'Pakistan'

In [25]:
"Pakistan" if False else "India"

'India'

notes if else1

In [26]:
data = [1,2,3,5,4]

ui = 7

if ui in data:
    print("Valid Student")
else:
    print("Invalid student id")

Invalid student id

In [29]:
user_name = [('raniya','123'),
            ('dareer','224'),
            ('samarah','121')]

for u in user_name:
    user=u[0]
    password = u[1]
    
    print(user, password)

raniya 123
dareer 224
samarah 121

In [33]:
data = [1,2,3,5,4] # student id

user_name = [('raniya','123'),
            ('dareer','224'),
            ('samarah','121')]

ui = 2

if ui in data:
    print("Valid Student")
    ui = 'raniya'
    ps = '123'
    for u in user_name:
        user=u[0]# username
        pas = u[1]#password
        
        if user =
    
    else:
        
    print("Invalid student id")

SyntaxError: invalid syntax (3320742564.py, line 17)